[submodule "external/doctest"]
	path = external/doctest
	url = https://github.com/onqtam/doctest
[submodule "external/magic_enum"]
	path = external/magic_enum
	url = https://github.com/Neargye/magic_enum
