language: cpp
dist: xenial
notifications:
  email: false

# Define builds on mulitple OS/compiler combinations. 
# Feel free to add/remove entries from this list.
matrix:
  include:
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - lcov
            - g++-7
      env:
        - MATRIX_EVAL="CXX_COMPILER=g++-7; sudo update-alternatives --install /usr/bin/gcov gcov /usr/bin/gcov-7 90"
    
cache:
   directories:
    - /home/travis/build/arqueffe/cmapf-solver/boost_1_72_0/build-dir

before_install:
  - eval "${MATRIX_EVAL}"
  - PARENTDIR=$(pwd)
  - mkdir $PARENTDIR/build
  - wget https://boostorg.jfrog.io/artifactory/main/release/1.72.0/source/boost_1_72_0.tar.bz2
  - tar --bzip2 -xf boost_1_72_0.tar.bz2
  - cd boost_1_72_0
  - ./bootstrap.sh --prefix=./build-dir
  - ./b2 install
  - cd ..

install: 
  - cd $PARENTDIR/build
  - cmake $PARENTDIR -DCMAKE_BUILD_TYPE=Coverage -DCMAKE_CXX_COMPILER=$CXX_COMPILER  -DBOOST_LIBRARYDIR:PATH=/home/travis/build/arqueffe/cmapf-solver/boost_1_72_0/build-dir/lib -DBOOST_ROOT:PATH=/home/travis/build/arqueffe/cmapf-solver/boost_1_72_0/build-dir -DBOOST_INCLUDEDIR:PATH=/home/travis/build/arqueffe/cmapf-solver/boost_1_72_0/build-dir/include
  - make

script:
  - make coverage

after_success:
  - cd $PARENTDIR/build
  - lcov --list coverage_out.info.cleaned  # Show test report in travis log.
  # Install coverals gem for uploading coverage to coveralls.
  - gem install coveralls-lcov
  - coveralls-lcov coverage_out.info.cleaned  # uploads to coveralls
  - bash <(curl -s https://codecov.io/bash) -f coverage_out.info.cleaned || echo "Codecov did not collect coverage reports"